body{
    background-image: url(black.jpg);
    font-size: 24px;
    color: #fffff0;
}

.keys{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 50px;
    padding: 1em;
   
}

.keys div{
    margin: 10px; 
    border: #fffff0 2px solid;
    border-radius: 10px;
    padding: 15px;
}